@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-image: linear-gradient(to right bottom, rgb(82, 34, 136), #ffedbca8);
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
    background-color: dodgerblue;
    font-weight: bold;
    padding: 15px;
    font-size:30px ;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0 4px 10px rgb(0,0,0,0.6);
    border-radius: 15px;
    width: 600px;
    background-color: tomato;
    margin: 10px;
}
.fa-quote-left, .fa-quote-right{
    font-size: 40px;
    color: blue;
}
.quote{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.author
{
    margin: 15px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
    font-family: 'Noto Sans', sans-serif;
}
.year{
    margin: 10px;
    text-align: right;
    font-size: 20px;
    font-style: italic;
    font-family: 'Noto Sans', sans-serif;
}
hr {
    margin: 10px 0;
    width: 100%;
    border: 1px solid black;
    background-color: black;

}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.next{
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right bottom,rgb(11, 233, 11), #ffedbca8);
}
.container:hover{
    box-shadow: 0 10px 10px rgb;
}